<div style="text-align: center;">
    <h1>Quadratic Formula Calculator</h1>
    <div class="formula-container">
        <div style="padding-right: 30px; transform: translateY(-13px);">
            <h2><i>a</i>x<sup>2</sup> + <i>b</i>x + <i>c</i></h2>
        </div>
        <div style="padding-left: 30px; display: flex;">
            <div style="transform: translateY(20px) translateX(-10px);">
                <h2>x =</h2>
            </div>
            <div>
                <h2>
                <span style="border-bottom: 2px solid;">
                    b ±&radic;<span style="border-top: 1px solid; padding-top: 1px;">&nbsp;b<sup>2</sup> - 4ac&nbsp;</span>
                </span>
                <br>
                2a
            </h2>
            </div>
            
        </div>
    </div>
    <form id="inputForm" [formGroup]="inputForm">
        <div class="grid-container">
            <div class="item1">
                <label>a: </label>
                <input type="number" id="a" name="a" formControlName="a" class="margin-right">
            </div> 
            <div class="item2">
                <label>b: </label>
                <input type="number" id="b" name="b" formControlName="b" class="margin-right">
            </div>
            <div class="item3">
                <label>c: </label>
                <input type="number" id="c" name="c" formControlName="c">
            </div>
            <div class="item4"></div>
            <div class="item5"></div>
            <div class="item6"><button style='float: right; margin-top: 10px;' (click)="clear()">Clear</button></div>
        </div>
    </form>
    <button style='margin-top: 10px;' (click)="calculate()">Calculate</button>
    <ng-container *ngIf="showCalculation">
        <div class="answer-div">
            <h2 style="text-align: center; font-family: consolas;"><span [innerHTML]="calculation"></span></h2>
        </div>
    </ng-container>
</div>

