.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
}

.margin-left {
    margin-left: 25px;
}

.margin-right {
    margin-right: 25px;
}

.form {
    text-align: center;
}

input {
    width: 150px;
}

.answer-div {
    background-color: lightyellow;
}