.body {
    display: flex;
}

.left-margin {
    float: left;
    width: 15%;
    min-height: 82vh;
    height: 100%;
    background-color: lightgray;
}

.main {
    justify-content: center;
    width: 70%;
}

.right-margin {
    float: right;
    width: 15%;
    min-height: 82vh;
    height: 100%;
    background-color: lightgray;
}

.form {
    text-align: center;
}

input {
    width: 150px;
}

.margin-left {
    margin-left: 25px;
}

.margin-right {
    margin-right: 25px;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
}

.answer-div {
    background-color: lightyellow;
}