<h1>Fractions Calculator</h1>

<form id="fractionsForm" [formGroup]="fractionsForm" class="form">
    <input type="number" id="numerator1" name="numerator1" formControlName="numerator1" class="margin-right">&nbsp;   
    <input type="number" id="numerator2" name="numerator2" formControlName="numerator2" class="margin-left">
    <br>
    <hr style='display:inline-block; width:152px; margin-right:40px;' />
    <select id="operator" name="operator">
        <option value="add">+</option>
        <option value="subtract">-</option>
        <option value="multiply">x</option>
        <option value="divide">/</option>
    </select>
    <hr style='display:inline-block; width:152px; margin-left:40px;' />
    <br>
    <input type="number" id="denominator1" name="denominator1" formControlName="denominator1"class="margin-right">&nbsp;
    <input type="number" id="denominator2" name="denominator2" formControlName="denominator2"class="margin-left">
    <br>
    <button>Calculate</button>
</form>