<h1>Calculators</h1>
<nav>
  <ul>
    <li><a routerLink="/area" routerLinkActive="active" ariaCurrentWhenActive="page">Area</a></li>
    <li><a routerLink="/fractions" routerLinkActive="active" ariaCurrentWhenActive="page">Fractions</a></li>
    <li><a routerLink="/mean" routerLinkActive="active" ariaCurrentWhenActive="page">Mean</a></li>
    <li><a routerLink="/median" routerLinkActive="active" ariaCurrentWhenActive="page">Median</a></li>
    <li><a routerLink="/mode" routerLinkActive="active" ariaCurrentWhenActive="page">Mode</a></li>
    <li><a routerLink="/volume" routerLinkActive="active" ariaCurrentWhenActive="page">Volume</a></li>
    </ul>
</nav>
<router-outlet></router-outlet>