<h1 style="text-align: center;">Derivative Calculator</h1>

<div style="text-align:center">
    <label>What rule? </label>
    <select #rule id="rule" name="rule" (change)="selectChange()">
        <option value="constant">Constant</option>
        <option value="constantMultiple">Constant Multiple</option>
        <option value="power">Power</option>
        <option value="sum">Sum / Difference</option>
        <option value="product">Product</option>
        <option value="quotient">Quotient</option>
        <option value="chain">Chain</option>
    </select>

    <ng-container *ngIf="currRule == 'constant'">
        <h2>
            f(x) = <span *ngIf="constantC == ''"><i>c</i></span>
            <span>{{constantC}} → f'(x) = 0</span>
        </h2>

        <form id="constantForm" [formGroup]="constantForm">
            <label>c: </label>
            <input type="number" id="c" name="c" formControlName="c" (input)="change('constantC', $event)" style="margin-right:15px">
        </form>
    </ng-container>

    <ng-container *ngIf="currRule == 'constantMultiple'">
        <h2>
            f(x) = <span *ngIf="constantMultipleC == ''"><i>c</i></span>
            <span *ngIf="constantMultipleC != ''">{{constantMultipleC}}</span>
            <span> * </span>
            <span *ngIf="constantMultipleM == ''"><i>m</i></span>
            <span *ngIf="constantMultipleM != ''">{{constantMultipleM}}</span>x<span *ngIf="constantMultipleN == ''"><sup><i>n</i></sup></span>
            <span *ngIf="constantMultipleN != ''"><sup>{{constantMultipleN}}</sup></span> → f'(x) = <span *ngIf="constantMultipleC == ''"><i>c</i></span>
            <span *ngIf="constantMultipleC != ''">{{constantMultipleC}}</span>
            <span> * </span>
            <span *ngIf="constantMultipleN == ''"><i>n</i></span>
            <span *ngIf="constantMultipleN != ''">{{constantMultipleN}}<span *ngIf="constantMultipleM != ''"> * </span></span>
            <span *ngIf="constantMultipleM == ''"><i>m</i></span><span *ngIf="constantMultipleM != ''">{{constantMultipleM}}</span>x<span *ngIf="constantMultipleN == ''"><sup><i>n</i>-1</sup></span>
            <span *ngIf="constantMultipleN != ''"><sup>{{constantMultipleN}}-1</sup></span>
        </h2>
        
         <form id="constantMultipleForm" [formGroup]="constantMultipleForm">
            <label>c: </label>
            <input type="number" id="c" name="c" formControlName="c" (input)="change('constantMultipleC', $event)" style="margin-right: 10px">
            <label style="margin-left: 10px;">n: </label>
            <input type="number" id="n" name="n" formControlName="n" style="margin-right: 10px" (input)="change('constantMultipleN', $event)">
            <label style="margin-left: 10px">m: </label>            
            <input type="number" id="m" name="m" formControlName="m" placeholder="1" (input)="change('constantMultipleM', $event)">
        </form>
    </ng-container>

    <ng-container *ngIf="currRule == 'power'">
        <h2>
            f(x) = <span *ngIf="powerM == ''"><i>m</i></span>
            <span *ngIf="powerM != ''">{{powerM}}</span>x<span *ngIf="powerN == ''"><sup><i>n</i></sup></span>
            <span *ngIf="powerN != ''"><sup>{{powerN}}</sup></span> → f'(x) = <span *ngIf="powerN == ''"><i>n</i></span>
            <span *ngIf="powerN != ''">{{powerN}}<span *ngIf="powerM != ''"> * </span></span>
            <span *ngIf="powerM == ''"><i>m</i></span><span *ngIf="powerM != ''">{{powerM}}</span>x<span *ngIf="powerN == ''"><sup><i>n</i>-1</sup></span>
            <span *ngIf="powerN != ''"><sup>{{powerN}}-1</sup></span>
        </h2>

        <form id="powerForm" [formGroup]="powerForm">
            <label>n: </label>
            <input type="number" id="n" name="n" formControlName="n" style="margin-right: 10px" (input)="change('powerN', $event)">
            <label style="margin-left: 10px">m: </label>            
            <input type="number" id="m" name="m" formControlName="m" placeholder="1" (input)="change('powerM', $event)">
        </form>
    </ng-container>

    <ng-container *ngIf="currRule == 'sum'">
        <br>
        <form id="sumSetUpForm" [formGroup]="sumSetUpForm">
            <label style="margin-top: 15px;">How many functions are there? </label>   
            <input type="number" id="numberOfInputs" name="numberOfInputs" formControlName="numberOfInputs" style="margin-top: 15px; margin-right: 2.5px;">
            <button (click)="calculateInputs()" style="margin-top: 15px; margin-left: 2.5px;">Generate Inputs</button>
        </form>

        <ng-container *ngIf="this.inputs.length > 0">
            <h2>f(x) = 
                <ng-container *ngFor="let number of inputs"> 
                    <span>f{{number}}(x)<span *ngIf="number + 1 != this.inputs.length"> ± </span></span>
                </ng-container>
                 → f'(x) =
                 <ng-container *ngFor="let number of inputs"> 
                    <span *ngIf="this.inputOptions[number] == 'constant'">
                        <span *ngIf="this.sumInputsC[number] == ''">
                            <i>c</i>
                        </span>
                        <span *ngIf="this.sumInputsC[number] != ''">
                            {{this.sumInputsC[number]}}
                        </span>
                    </span>

                    <span *ngIf="this.inputOptions[number] == 'constantMultiple'">
                        <span *ngIf="this.sumInputsC[number] == ''"><i>c</i></span>
                        <span *ngIf="this.sumInputsC[number] != ''">{{this.sumInputsC[number]}}</span>
                        <span> * </span>
                        <span *ngIf="this.sumInputsN[number] == ''"><i>n</i></span>
                        <span *ngIf="this.sumInputsN[number] != ''">{{this.sumInputsN[number]}}<span *ngIf="this.sumInputsM[number] != ''"> * </span></span>
                        <span *ngIf="this.sumInputsM[number] == ''"><i>m</i></span><span *ngIf="this.sumInputsM[number] != ''">{{this.sumInputsM[number]}}</span>x<span *ngIf="this.sumInputsN[number] == ''"><sup><i>n</i>-1</sup></span>
                        <span *ngIf="this.sumInputsN[number] != ''"><sup>{{this.sumInputsN[number]}}-1</sup></span>
                    </span>

                    <span *ngIf="this.inputOptions[number] == 'power'">
                        <span *ngIf="this.sumInputsN[number] == ''"><i>n</i></span>
                        <span *ngIf="this.sumInputsN[number] != ''">{{this.sumInputsN[number]}}<span *ngIf="this.sumInputsM[number] != ''"> * </span></span>
                        <span *ngIf="this.sumInputsM[number] == ''"><i>m</i></span><span *ngIf="this.sumInputsM[number] != ''">{{this.sumInputsM[number]}}</span>x<span *ngIf="this.sumInputsN[number] == ''"><sup><i>n</i>-1</sup></span>
                        <span *ngIf="this.sumInputsN[number] != ''"><sup>{{this.sumInputsN[number]}}-1</sup></span>
                    </span>

                    <span *ngIf="number + 1 != this.inputs.length">
                        <span *ngIf="this.operators[number] == 'plus'">
                            +
                        </span>
                        <span *ngIf="this.operators[number] == 'minus'">
                            -
                        </span>
                    </span>
                </ng-container>
            </h2>
        </ng-container>
        <br>
        <form id="sumInputForm" [formGroup]="sumInputForm">
            <div style="display: flex; justify-content: center; flex-wrap: wrap;">
                <ng-container *ngFor="let number of inputs">
                    <div style="padding: 10px; text-align: right;">
                        <select #selection id="selection" name="selection" (change)="updateRules(number, selection.value)" style="width: 108px;">
                            <option value="constant">Constant</option>
                            <option value="constantMultiple">Constant Multiple</option>
                            <option value="power">Power</option>
                        </select>
                        <br>
                        <ng-container *ngIf="selection.value == 'constant'">
                            <label>c: </label>
                            <input type="number" id="{{number}}C" name="{{number}}C" formControlName="{{number}}C" (input)="change('C', $event, number)">
                        </ng-container> 
                        <ng-container *ngIf="selection.value == 'constantMultiple'">
                            <label>c: </label>
                            <input type="number" id="{{number}}C" name="{{number}}C" formControlName="{{number}}C" (input)="change('C', $event, number)">
                            <br>
                            <label>n: </label>
                            <input type="number" id="{{number}}N" name="{{number}}N" formControlName="{{number}}N" (input)="change('N', $event, number)">
                            <br>
                            <label>m: </label>            
                            <input type="number" id="{{number}}M" name="{{number}}M" formControlName="{{number}}M" placeholder="1" (input)="change('M', $event, number)">        
                        </ng-container> 
                        <ng-container *ngIf="selection.value == 'power'">
                            <label>n: </label>
                            <input type="number" id="{{number}}N" name="{{number}}N" formControlName="{{number}}N" (input)="change('N', $event, number)">
                            <br>
                            <label>m: </label>            
                            <input type="number" id="{{number}}M" name="{{number}}M" formControlName="{{number}}M" placeholder="1" (input)="change('M', $event, number)">            
                        </ng-container>                
                        <ng-container *ngIf="number + 1 == this.inputs.length">                    
                                <br>
                                <button style='margin-top: 5px; float:right' (click)="clear()">Clear</button>
                        </ng-container>
                    </div>
                    <ng-container *ngIf="number + 1 != this.inputs.length">
                        <select #operator id="operator" name="operator" (change)="updateOperators(number, operator.value)" style="margin-top:10px;width:35px; height:20px">
                            <option value="plus">+</option>
                            <option value="minus">-</option>
                        </select>
                    </ng-container>
                </ng-container>
            </div>
        </form>
    </ng-container>

    <ng-container *ngIf="currRule == 'product'">
        <h2>f(x) = g(x) * h(x) → g(x) * h'(x) + g'(x) * h(x)</h2>
        <div style="display: flex; align-items: center; justify-content: center; margin-top: -20px;">
            <h2>g(x) = 
                <span *ngIf="selectG == 'binomial'">
                    (<span *ngIf="gAValue == ''"><i>a</i></span>
                    <span *ngIf="gAValue != ''">{{gAValue}}</span>
                    <span *ngIf="gBinomialAX">x</span>
                    <span *ngIf="gBinomialAPower">
                        <sup>
                            <span *ngIf="gANValue == ''">
                                <i>n</i>
                            </span>
                            <span *ngIf="gANValue != ''">{{gANValue}}</span>
                        </sup>
                    </span>
                    <span> {{this.operatorG}} </span>
                    <span *ngIf="gBValue == ''"><i>b</i></span>
                    <span *ngIf="gBValue != ''">{{gBValue}}</span>
                    <span *ngIf="gBinomialBX">x</span>
                    <span *ngIf="gBinomialBPower">
                        <sup>
                            <span *ngIf="gBNValue == ''">
                                <i>n</i>
                            </span>
                            <span *ngIf="gBNValue != ''">{{gBNValue}}</span>
                        </sup>
                    </span>)
                </span>
                <span *ngIf="selectG == 'constant'">
                    <span *ngIf="gCValue == ''">
                        <i>c</i>
                    </span>
                    <span *ngIf="gCValue != ''">
                        {{gCValue}}
                    </span>
                </span>
                <span *ngIf="selectG == 'constantMultiple'">
                    <span *ngIf="gCValue == ''"><i>c</i></span>
                    <span *ngIf="gCValue != ''">{{gCValue}}</span>
                    <span> * </span>
                    <span *ngIf="gMValue == ''"><i>m</i></span>
                    <span *ngIf="gMValue != ''">{{gMValue}}</span>x<span *ngIf="gNValue == ''"><sup><i>n</i></sup></span>
                    <span *ngIf="gNValue != ''"><sup>{{gNValue}}</sup></span>
                </span>
                <span *ngIf="selectG == 'power'">
                    <span *ngIf="gMValue == ''"><i>m</i></span>
                    <span *ngIf="gMValue != ''">{{gMValue}}</span>x<span *ngIf="gNValue == ''"><sup><i>n</i></sup></span>
                    <span *ngIf="gNValue != ''"><sup>{{gNValue}}</sup></span>
                </span>
            </h2>
            <h2>&nbsp;&nbsp;&nbsp;</h2>
            <h2>h(x) = 
                <span *ngIf="selectH == 'binomial'">
                    (<span *ngIf="hAValue == ''"><i>a</i></span>
                    <span *ngIf="hAValue != ''">{{hAValue}}</span>
                    <span *ngIf="hBinomialAX">x</span>
                    <span *ngIf="hBinomialAPower">
                        <sup>
                            <span *ngIf="hANValue == ''">
                                <i>n</i>
                            </span>
                            <span *ngIf="hANValue != ''">{{hANValue}}</span>
                        </sup>
                    </span>
                    <span> {{operatorH}} </span>
                    <span *ngIf="hBValue == ''"><i>b</i></span>
                    <span *ngIf="hBValue != ''">{{hBValue}}</span>
                    <span *ngIf="hBinomialBX">x</span>
                    <span *ngIf="hBinomialBPower">
                        <sup>
                            <span *ngIf="hBNValue == ''">
                                <i>n</i>
                            </span>
                            <span *ngIf="hBNValue != ''">{{hBNValue}}</span>
                        </sup>
                    </span>)
                </span>
                <span *ngIf="selectH == 'constant'">
                    <span *ngIf="hCValue == ''">
                        <i>c</i>
                    </span>
                    <span *ngIf="hCValue != ''">
                        {{hCValue}}
                    </span>
                </span>
                <span *ngIf="selectH == 'constantMultiple'">
                    <span *ngIf="hCValue == ''"><i>c</i></span>
                    <span *ngIf="hCValue != ''">{{hCValue}}</span>
                    <span> * </span>
                    <span *ngIf="hMValue == ''"><i>m</i></span>
                    <span *ngIf="hMValue != ''">{{hMValue}}</span>x<span *ngIf="hNValue == ''"><sup><i>n</i></sup></span>
                    <span *ngIf="hNValue != ''"><sup>{{hNValue}}</sup></span>
                </span>
                <span *ngIf="selectH == 'power'">
                    <span *ngIf="hMValue == ''"><i>m</i></span>
                    <span *ngIf="hMValue != ''">{{hMValue}}</span>x<span *ngIf="hNValue == ''"><sup><i>n</i></sup></span>
                    <span *ngIf="hNValue != ''"><sup>{{hNValue}}</sup></span>
                </span>
            </h2>
        </div>
        <form id="productInputForm" [formGroup]="productInputForm">
            <div style="display: flex; justify-content: center; flex-wrap: wrap;">
                    <div style="padding: 10px; text-align: right;">
                        <label>g(x): </label>
                        <select #selectionG id="selectionG" name="selectionG" (change)="updateProductRule('g', selectionG.value)" style="width: 108px;">
                            <option value="binomial">Binomial</option>
                            <option value="constant">Constant</option>
                            <option value="constantMultiple">Constant Multiple</option>
                            <option value="power">Power</option>
                        </select>
                        <br>
                        <ng-container *ngIf="selectionG.value == 'binomial'">
                            <label>a: </label>
                            <input type="number" id="gA" name="gA" formControlName="gA" (input)="change('gA', $event)">
                            <ng-container *ngIf="this.gBinomialAPower">
                                <br>
                                <label>n: </label>
                                <input type="number" id="gNA" name="gNA" formControlName="gNA" (input)="change('gNA', $event)">
                            </ng-container>
                            <br>
                            <label>Does it contain x? </label>
                            <input type="checkbox" id="gAXBox" name="gAXBox" formControlName="gAXBox" (input)="setX('g', 'a', $event)">
                            <ng-container *ngIf="this.gBinomialAX == true">
                                <br>
                                <label>Does x have a power? </label>
                                <input type="checkbox" id="gAPowerBox" name="gAPowerBox" formControlName="gAPowerBox" (input)="setPower('g', 'a', $event)">
                            </ng-container>
                            <br>
                            <select #gOperator id="gOperator" name="gOperator" (change)="updateProductOperator('g', gOperator.value)" style="margin-top:10px; margin-bottom:10px; width:35px; height:20px">
                                <option value="+">+</option>
                                <option value="-">-</option>
                            </select>
                            <br>
                            <label>b: </label>
                            <input type="number" id="gB" name="gB" formControlName="gB" (input)="change('gB', $event)">
                            <ng-container *ngIf="this.gBinomialBPower">
                                <br>
                                <label>n: </label>
                                <input type="number" id="gNB" name="gNB" formControlName="gNB" (input)="change('gNB', $event)">
                            </ng-container>
                            <br>
                            <label>Does it contain x? </label>
                            <input type="checkbox" id="gBXBox" name="gBXBox" formControlName="gBXBox" (input)="setX('g', 'b', $event)">
                            <ng-container *ngIf="this.gBinomialBX == true">
                                <br>
                                <label>Does x have a power? </label>
                                <input type="checkbox" id="gBPowerBox" name="gBPowerBox" formControlName="gBPowerBox" (input)="setPower('g', 'b', $event)">
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="selectionG.value == 'constant'">
                            <label>c: </label>
                            <input type="number" id="gC" name="gC" formControlName="gC" (input)="change('gC', $event)">
                        </ng-container> 
                        <ng-container *ngIf="selectionG.value == 'constantMultiple'">
                            <label>c: </label>
                            <input type="number" id="gC" name="gC" formControlName="gC" (input)="change('gC', $event)">
                            <br>
                            <label>n: </label>
                            <input type="number" id="gN" name="gN" formControlName="gN" (input)="change('gN', $event)">
                            <br>
                            <label>m: </label>            
                            <input type="number" id="gM" name="gM" formControlName="gM" placeholder="1" (input)="change('gM', $event)">        
                        </ng-container> 
                        <ng-container *ngIf="selectionG.value == 'power'">
                            <label>n: </label>
                            <input type="number" id="gN" name="gN" formControlName="gN" (input)="change('gN', $event)">
                            <br>
                            <label>m: </label>            
                            <input type="number" id="gM" name="gM" formControlName="gM" placeholder="1" (input)="change('gM', $event)">            
                        </ng-container>
                    </div>
                    
                    <div style="padding: 10px; text-align: right;">  
                        <label>h(x): </label>  
                        <select #selectionH id="selectionH" name="selectionH" (change)="updateProductRule('h', selectionH.value)" style="width: 108px;">
                            <option value="binomial">Binomial</option>
                            <option value="constant">Constant</option>
                            <option value="constantMultiple">Constant Multiple</option>
                            <option value="power">Power</option>
                        </select>
                        <br>
                        <ng-container *ngIf="selectionH.value == 'binomial'">
                            <label>a: </label>
                            <input type="number" id="hA" name="hA" formControlName="hA" (input)="change('hA', $event)">
                            <ng-container *ngIf="this.hBinomialAPower">
                                <br>
                                <label>n: </label>
                                <input type="number" id="hNA" name="hNA" formControlName="hNA" (input)="change('hNA', $event)">
                            </ng-container>
                            <br>
                            <label>Does it contain x? </label>
                            <input type="checkbox" id="hAXBox" name="hAXBox" formControlName="hAXBox" (input)="setX('h', 'a', $event)">
                            <ng-container *ngIf="this.hBinomialAX == true">
                                <br>
                                <label>Does x have a power? </label>
                                <input type="checkbox" id="hAPowerBox" name="hAPowerBox" formControlName="hAPowerBox" (input)="setPower('h', 'a', $event)">
                            </ng-container>
                            <br>
                            <select #hOperator id="hOperator" name="hOperator" (change)="updateProductOperator('h', hOperator.value)" style="margin-top:10px; margin-bottom:10px; width:35px; height:20px">
                                <option value="+">+</option>
                                <option value="-">-</option>
                            </select>
                            <br>
                            <label>b: </label>
                            <input type="number" id="hB" name="hB" formControlName="hB" (input)="change('hB', $event)">
                            <ng-container *ngIf="this.hBinomialBPower">
                                <br>
                                <label>n: </label>
                                <input type="number" id="hNB" name="hNB" formControlName="hNB" (input)="change('hNB', $event)">
                            </ng-container>
                            <br>
                            <label>Does it contain x? </label>
                            <input type="checkbox" id="hBXBox" name="hBXBox" formControlName="hBXBox" (input)="setX('h', 'b', $event)">
                            <ng-container *ngIf="this.hBinomialBX == true">
                                <br>
                                <label>Does x have a power? </label>
                                <input type="checkbox" id="hBPowerBox" name="hBPowerBox" formControlName="hBPowerBox" (input)="setPower('h', 'b', $event)">
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="selectionH.value == 'constant'">
                            <label>c: </label>
                            <input type="number" id="hC" name="hC" formControlName="hC" (input)="change('hC', $event)">
                        </ng-container> 
                        <ng-container *ngIf="selectionH.value == 'constantMultiple'">
                            <label>c: </label>
                            <input type="number" id="hC" name="hC" formControlName="hC" (input)="change('hC', $event)">
                            <br>
                            <label>n: </label>
                            <input type="number" id="hN" name="hN" formControlName="hN" (input)="change('hN', $event)">
                            <br>
                            <label>m: </label>            
                            <input type="number" id="hM" name="hM" formControlName="hM" placeholder="1" (input)="change('hM', $event)">        
                        </ng-container> 
                        <ng-container *ngIf="selectionH.value == 'power'">
                            <label>n: </label>
                            <input type="number" id="hN" name="hN" formControlName="hN" (input)="change('hN', $event)">
                            <br>
                            <label>m: </label>            
                            <input type="number" id="hM" name="hM" formControlName="hM" placeholder="1" (input)="change('hM', $event)">            
                        </ng-container>
                                <br>
                                <button style='margin-top: 5px; float:right' (click)="clear()">Clear</button>
                    </div>
            </div>
        </form>
    </ng-container>

    <ng-container *ngIf="currRule == 'quotient'">
        <h2 style="display: flex; justify-content: center; flex-wrap: wrap;">        
            f(x) =&nbsp;
            <div>
                <span class="top">
                    g(x)
                </span>
                <br>
                <span class="bottom">
                    h(x)
                </span>
            </div>
            &nbsp;→ f'(x) =&nbsp;
            <div> 
                <span class="top">
                    g'(x) * h(x) - g(x) * h'(x)
                </span>
                <br>
                <span class="bottom">
                   [h(x)]<sup>2</sup>
                </span>
            </div> 
        </h2>
        <div style="display: flex; align-items: center; justify-content: center; margin-top: -30px;">
            <h2>g(x) = 
                <span *ngIf="selectG == 'binomial'">
                    (<span *ngIf="gAValue == ''"><i>a</i></span>
                    <span *ngIf="gAValue != ''">{{gAValue}}</span>
                    <span *ngIf="gBinomialAX">x</span>
                    <span *ngIf="gBinomialAPower">
                        <sup>
                            <span *ngIf="gANValue == ''">
                                <i>n</i>
                            </span>
                            <span *ngIf="gANValue != ''">{{gANValue}}</span>
                        </sup>
                    </span>
                    <span> {{this.operatorG}} </span>
                    <span *ngIf="gBValue == ''"><i>b</i></span>
                    <span *ngIf="gBValue != ''">{{gBValue}}</span>
                    <span *ngIf="gBinomialBX">x</span>
                    <span *ngIf="gBinomialBPower">
                        <sup>
                            <span *ngIf="gBNValue == ''">
                                <i>n</i>
                            </span>
                            <span *ngIf="gBNValue != ''">{{gBNValue}}</span>
                        </sup>
                    </span>)
                </span>
                <span *ngIf="selectG == 'constant'">
                    <span *ngIf="gCValue == ''">
                        <i>c</i>
                    </span>
                    <span *ngIf="gCValue != ''">
                        {{gCValue}}
                    </span>
                </span>
                <span *ngIf="selectG == 'constantMultiple'">
                    <span *ngIf="gCValue == ''"><i>c</i></span>
                    <span *ngIf="gCValue != ''">{{gCValue}}</span>
                    <span> * </span>
                    <span *ngIf="gMValue == ''"><i>m</i></span>
                    <span *ngIf="gMValue != ''">{{gMValue}}</span>x<span *ngIf="gNValue == ''"><sup><i>n</i></sup></span>
                    <span *ngIf="gNValue != ''"><sup>{{gNValue}}</sup></span>
                </span>
                <span *ngIf="selectG == 'power'">
                    <span *ngIf="gMValue == ''"><i>m</i></span>
                    <span *ngIf="gMValue != ''">{{gMValue}}</span>x<span *ngIf="gNValue == ''"><sup><i>n</i></sup></span>
                    <span *ngIf="gNValue != ''"><sup>{{gNValue}}</sup></span>
                </span>
            </h2>
            <h2>&nbsp;&nbsp;&nbsp;</h2>
            <h2>h(x) = 
                <span *ngIf="selectH == 'binomial'">
                    (<span *ngIf="hAValue == ''"><i>a</i></span>
                    <span *ngIf="hAValue != ''">{{hAValue}}</span>
                    <span *ngIf="hBinomialAX">x</span>
                    <span *ngIf="hBinomialAPower">
                        <sup>
                            <span *ngIf="hANValue == ''">
                                <i>n</i>
                            </span>
                            <span *ngIf="hANValue != ''">{{hANValue}}</span>
                        </sup>
                    </span>
                    <span> {{operatorH}} </span>
                    <span *ngIf="hBValue == ''"><i>b</i></span>
                    <span *ngIf="hBValue != ''">{{hBValue}}</span>
                    <span *ngIf="hBinomialBX">x</span>
                    <span *ngIf="hBinomialBPower">
                        <sup>
                            <span *ngIf="hBNValue == ''">
                                <i>n</i>
                            </span>
                            <span *ngIf="hBNValue != ''">{{hBNValue}}</span>
                        </sup>
                    </span>)
                </span>
                <span *ngIf="selectH == 'constant'">
                    <span *ngIf="hCValue == ''">
                        <i>c</i>
                    </span>
                    <span *ngIf="hCValue != ''">
                        {{hCValue}}
                    </span>
                </span>
                <span *ngIf="selectH == 'constantMultiple'">
                    <span *ngIf="hCValue == ''"><i>c</i></span>
                    <span *ngIf="hCValue != ''">{{hCValue}}</span>
                    <span> * </span>
                    <span *ngIf="hMValue == ''"><i>m</i></span>
                    <span *ngIf="hMValue != ''">{{hMValue}}</span>x<span *ngIf="hNValue == ''"><sup><i>n</i></sup></span>
                    <span *ngIf="hNValue != ''"><sup>{{hNValue}}</sup></span>
                </span>
                <span *ngIf="selectH == 'power'">
                    <span *ngIf="hMValue == ''"><i>m</i></span>
                    <span *ngIf="hMValue != ''">{{hMValue}}</span>x<span *ngIf="hNValue == ''"><sup><i>n</i></sup></span>
                    <span *ngIf="hNValue != ''"><sup>{{hNValue}}</sup></span>
                </span>
            </h2>
        </div>
        <form id="quotientForm" [formGroup]="quotientForm">
            <div style="display: flex; justify-content: center; flex-wrap: wrap;">
                    <div style="padding: 10px; text-align: right;">
                        <label>g(x): </label>
                        <select #selectionG id="selectionG" name="selectionG" (change)="updateProductRule('g', selectionG.value)" style="width: 108px;">
                            <option value="binomial">Binomial</option>
                            <option value="constant">Constant</option>
                            <option value="constantMultiple">Constant Multiple</option>
                            <option value="power">Power</option>
                        </select>
                        <br>
                        <ng-container *ngIf="selectionG.value == 'binomial'">
                            <label>a: </label>
                            <input type="number" id="gA" name="gA" formControlName="gA" (input)="change('gAQuotient', $event)">
                            <ng-container *ngIf="this.gBinomialAPower">
                                <br>
                                <label>n: </label>
                                <input type="number" id="gNA" name="gNA" formControlName="gNA" (input)="change('gNAQuotient', $event)">
                            </ng-container>
                            <br>
                            <label>Does it contain x? </label>
                            <input type="checkbox" id="gAXBox" name="gAXBox" formControlName="gAXBox" (input)="setX('g', 'a', $event)">
                            <ng-container *ngIf="this.gBinomialAX == true">
                                <br>
                                <label>Does x have a power? </label>
                                <input type="checkbox" id="gAPowerBox" name="gAPowerBox" formControlName="gAPowerBox" (input)="setPower('g', 'a', $event)">
                            </ng-container>
                            <br>
                            <select #gOperator id="gOperator" name="gOperator" (change)="updateProductOperator('g', gOperator.value)" style="margin-top:10px; margin-bottom:10px; width:35px; height:20px">
                                <option value="+">+</option>
                                <option value="-">-</option>
                            </select>
                            <br>
                            <label>b: </label>
                            <input type="number" id="gB" name="gB" formControlName="gB" (input)="change('gBQuotient', $event)">
                            <ng-container *ngIf="this.gBinomialBPower">
                                <br>
                                <label>n: </label>
                                <input type="number" id="gNB" name="gNB" formControlName="gNB" (input)="change('gNBQuotient', $event)">
                            </ng-container>
                            <br>
                            <label>Does it contain x? </label>
                            <input type="checkbox" id="gBXBox" name="gBXBox" formControlName="gBXBox" (input)="setX('g', 'b', $event)">
                            <ng-container *ngIf="this.gBinomialBX == true">
                                <br>
                                <label>Does x have a power? </label>
                                <input type="checkbox" id="gBPowerBox" name="gBPowerBox" formControlName="gBPowerBox" (input)="setPower('g', 'b', $event)">
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="selectionG.value == 'constant'">
                            <label>c: </label>
                            <input type="number" id="gC" name="gC" formControlName="gC" (input)="change('gCQuotient', $event)">
                        </ng-container> 
                        <ng-container *ngIf="selectionG.value == 'constantMultiple'">
                            <label>c: </label>
                            <input type="number" id="gC" name="gC" formControlName="gC" (input)="change('gCQuotient', $event)">
                            <br>
                            <label>n: </label>
                            <input type="number" id="gN" name="gN" formControlName="gN" (input)="change('gNQuotient', $event)">
                            <br>
                            <label>m: </label>            
                            <input type="number" id="gM" name="gM" formControlName="gM" placeholder="1" (input)="change('gMQuotient', $event)">        
                        </ng-container> 
                        <ng-container *ngIf="selectionG.value == 'power'">
                            <label>n: </label>
                            <input type="number" id="gN" name="gN" formControlName="gN" (input)="change('gNQuotient', $event)">
                            <br>
                            <label>m: </label>            
                            <input type="number" id="gM" name="gM" formControlName="gM" placeholder="1" (input)="change('gMQuotient', $event)">            
                        </ng-container>
                    </div>
                    
                    <div style="padding: 10px; text-align: right;">  
                        <label>h(x): </label>  
                        <select #selectionH id="selectionH" name="selectionH" (change)="updateProductRule('h', selectionH.value)" style="width: 108px;">
                            <option value="binomial">Binomial</option>
                            <option value="constant">Constant</option>
                            <option value="constantMultiple">Constant Multiple</option>
                            <option value="power">Power</option>
                        </select>
                        <br>
                        <ng-container *ngIf="selectionH.value == 'binomial'">
                            <label>a: </label>
                            <input type="number" id="hA" name="hA" formControlName="hA" (input)="change('hAQuotient', $event)">
                            <ng-container *ngIf="this.hBinomialAPower">
                                <br>
                                <label>n: </label>
                                <input type="number" id="hNA" name="hNA" formControlName="hNA" (input)="change('hNAQuotient', $event)">
                            </ng-container>
                            <br>
                            <label>Does it contain x? </label>
                            <input type="checkbox" id="hAXBox" name="hAXBox" formControlName="hAXBox" (input)="setX('h', 'a', $event)">
                            <ng-container *ngIf="this.hBinomialAX == true">
                                <br>
                                <label>Does x have a power? </label>
                                <input type="checkbox" id="hAPowerBox" name="hAPowerBox" formControlName="hAPowerBox" (input)="setPower('h', 'a', $event)">
                            </ng-container>
                            <br>
                            <select #hOperator id="hOperator" name="hOperator" (change)="updateProductOperator('h', hOperator.value)" style="margin-top:10px; margin-bottom:10px; width:35px; height:20px">
                                <option value="+">+</option>
                                <option value="-">-</option>
                            </select>
                            <br>
                            <label>b: </label>
                            <input type="number" id="hB" name="hB" formControlName="hB" (input)="change('hBQuotient', $event)">
                            <ng-container *ngIf="this.hBinomialBPower">
                                <br>
                                <label>n: </label>
                                <input type="number" id="hNB" name="hNB" formControlName="hNB" (input)="change('hNBQuotient', $event)">
                            </ng-container>
                            <br>
                            <label>Does it contain x? </label>
                            <input type="checkbox" id="hBXBox" name="hBXBox" formControlName="hBXBox" (input)="setX('h', 'b', $event)">
                            <ng-container *ngIf="this.hBinomialBX == true">
                                <br>
                                <label>Does x have a power? </label>
                                <input type="checkbox" id="hBPowerBox" name="hBPowerBox" formControlName="hBPowerBox" (input)="setPower('h', 'b', $event)">
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="selectionH.value == 'constant'">
                            <label>c: </label>
                            <input type="number" id="hC" name="hC" formControlName="hC" (input)="change('hCQuotient', $event)">
                        </ng-container> 
                        <ng-container *ngIf="selectionH.value == 'constantMultiple'">
                            <label>c: </label>
                            <input type="number" id="hC" name="hC" formControlName="hC" (input)="change('hCQuotient', $event)">
                            <br>
                            <label>n: </label>
                            <input type="number" id="hN" name="hN" formControlName="hN" (input)="change('hNQuotient', $event)">
                            <br>
                            <label>m: </label>            
                            <input type="number" id="hM" name="hM" formControlName="hM" placeholder="1" (input)="change('hMQuotient', $event)">        
                        </ng-container> 
                        <ng-container *ngIf="selectionH.value == 'power'">
                            <label>n: </label>
                            <input type="number" id="hN" name="hN" formControlName="hN" (input)="change('hNQuotient', $event)">
                            <br>
                            <label>m: </label>            
                            <input type="number" id="hM" name="hM" formControlName="hM" placeholder="1" (input)="change('hMQuotient', $event)">            
                        </ng-container>
                                <br>
                                <button style='margin-top: 5px; float:right' (click)="clear()">Clear</button>
                    </div>
            </div>
        </form>
    </ng-container>

    <ng-container *ngIf="currRule == 'chain'">
        <h2>f(x) = 
            <span *ngIf="this.selectionG.value == 'binomial'">
                    (<span *ngIf="gAValue == ''"><i>a</i></span>
                    <span *ngIf="gAValue != ''">{{gAValue}}</span>
                    <span *ngIf="gBinomialAX">x</span>
                    <span *ngIf="gBinomialAPower">
                        <sup>
                            <span *ngIf="gANValue == ''">
                                <i>n</i>
                            </span>
                            <span *ngIf="gANValue != ''">{{gANValue}}</span>
                        </sup>
                    </span>
                    <span> {{this.operatorG}} </span>
                    <span *ngIf="gBValue == ''"><i>b</i></span>
                    <span *ngIf="gBValue != ''">{{gBValue}}</span>
                    <span *ngIf="gBinomialBX">x</span>
                    <span *ngIf="gBinomialBPower">
                        <sup>
                            <span *ngIf="gBNValue == ''">
                                <i>n</i>
                            </span>
                            <span *ngIf="gBNValue != ''">{{gBNValue}}</span>
                        </sup>
                    </span>)<sup><span *ngIf="pValue == ''"><i>p</i></span><span *ngIf="pValue != ''">{{pValue}}</span></sup> → f'(x) = 
                <span *ngIf="pValue == ''"><i>p</i></span><span *ngIf="pValue != ''">{{pValue}}</span>(<span *ngIf="gAValue == ''"><i>a</i></span>
                    <span *ngIf="gAValue != ''">{{gAValue}}</span>
                    <span *ngIf="gBinomialAX">x</span>
                    <span *ngIf="gBinomialAPower">
                        <sup>
                            <span *ngIf="gANValue == ''">
                                <i>n</i>
                            </span>
                            <span *ngIf="gANValue != ''">{{gANValue}}</span>
                        </sup>
                    </span>
                    <span> {{this.operatorG}} </span>
                    <span *ngIf="gBValue == ''"><i>b</i></span>
                    <span *ngIf="gBValue != ''">{{gBValue}}</span>
                    <span *ngIf="gBinomialBX">x</span>
                    <span *ngIf="gBinomialBPower">
                        <sup>
                            <span *ngIf="gBNValue == ''">
                                <i>n</i>
                            </span>
                            <span *ngIf="gBNValue != ''">{{gBNValue}}</span>
                        </sup>
                    </span>)<sup><span *ngIf="pValue == ''"><i>p</i></span><span *ngIf="pValue != ''">{{pValue}}</span>-1</sup> * 
                    (<span *ngIf="!gBinomialAX">0</span>
                    <span *ngIf="gBinomialAX && !gBinomialAPower">
                        <span *ngIf="gAValue == ''"><i>a</i></span><span *ngIf="gAValue != ''">{{gAValue}}</span>
                    </span>
                    <span *ngIf="gBinomialAX && gBinomialAPower">
                        <span *ngIf="gANValue == ''"><i>n</i></span><span *ngIf="gANValue != ''">{{gANValue}}</span><span *ngIf="gAValue == ''"><i>a</i></span><span *ngIf="gAValue != ''"> * {{gAValue}}</span>x<sup><span *ngIf="gANValue == ''"><i>n</i></span><span *ngIf="gANValue != ''">{{gANValue}}</span>-1</sup>
                    </span>
                    <span> {{this.operatorG}} </span>
                    <span *ngIf="!gBinomialBX">0</span>
                    <span *ngIf="gBinomialBX && !gBinomialBPower">
                        <span *ngIf="gBValue == ''"><i>b</i></span><span *ngIf="gBValue != ''">{{gBValue}}</span>
                    </span>
                    <span *ngIf="gBinomialBX && gBinomialBPower">
                        <span *ngIf="gBNValue == ''"><i>n</i></span><span *ngIf="gBNValue != ''">{{gBNValue}}</span><span *ngIf="gBValue == ''"><i>b</i></span><span *ngIf="gBValue != ''"> * {{gBValue}}</span>x<sup><span *ngIf="gBNValue == ''"><i>n</i></span><span *ngIf="gBNValue != ''">{{gBNValue}}</span>-1</sup>
                    </span>)
            </span>
            <span *ngIf="this.selectionG.value == 'constant'">
                (<span *ngIf="gCValue == ''"><i>c</i></span><span *ngIf="gCValue != ''">{{gCValue}}</span>)<sup><span *ngIf="pValue == ''"><i>p</i></span><span *ngIf="pValue != ''">{{pValue}}</span></sup> → f'(x) = 
                <span *ngIf="pValue == ''"><i>p</i></span><span *ngIf="pValue != ''">{{pValue}}</span>(<span *ngIf="gCValue == ''"><i>c</i></span><span *ngIf="gCValue != ''">{{gCValue}}</span>)<sup><span *ngIf="pValue == ''"><i>p</i></span><span *ngIf="pValue != ''">{{pValue}}</span>-1</sup> * (0)
            </span>
            <span *ngIf="this.selectionG.value == 'constantMultiple'">
                (<span *ngIf="gCValue == ''"><i>c</i></span>
                <span *ngIf="gCValue != ''">{{gCValue}}</span>
                <span> * </span>
                <span *ngIf="gMValue == ''"><i>m</i></span>
                <span *ngIf="gMValue != ''">{{gMValue}}</span>x<span *ngIf="gNValue == ''"><sup><i>n</i></sup></span>
                <span *ngIf="gNValue != ''"><sup>{{gNValue}}</sup></span>)<sup><span *ngIf="pValue == ''"><i>p</i></span><span *ngIf="pValue != ''">{{pValue}}</span></sup> → f'(x) = 
                <span *ngIf="pValue == ''"><i>p</i></span><span *ngIf="pValue != ''">{{pValue}}</span>(<span *ngIf="gCValue == ''"><i>c</i></span>
                <span *ngIf="gCValue != ''">{{gCValue}}</span>
                <span> * </span>
                <span *ngIf="gMValue == ''"><i>m</i></span>
                <span *ngIf="gMValue != ''">{{gMValue}}</span>x<span *ngIf="gNValue == ''"><sup><i>n</i></sup></span>
                <span *ngIf="gNValue != ''"><sup>{{gNValue}}</sup></span>)<sup><span *ngIf="pValue == ''"><i>p</i></span><span *ngIf="pValue != ''">{{pValue}}</span>-1</sup> * (<span *ngIf="gCValue == ''"><i>c</i></span>
                <span *ngIf="gCValue != ''">{{gCValue}}</span>
                <span> * </span>
                <span *ngIf="gNValue == ''"><i>n</i></span>
                <span *ngIf="gNValue != ''">{{gNValue}}<span *ngIf="gMValue != ''"> * </span></span>
                <span *ngIf="gMValue == ''"><i>m</i></span><span *ngIf="gMValue != ''">{{gMValue}}</span>x<span *ngIf="gNValue == ''"><sup><i>n</i>-1</sup></span>
                <span *ngIf="gNValue != ''"><sup>{{gNValue}}-1</sup></span>)
            </span>
            <span *ngIf="this.selectionG.value == 'power'">
                (<span *ngIf="gMValue == ''"><i>m</i></span>
                <span *ngIf="gMValue != ''">{{gMValue}}</span>x<span *ngIf="gNValue == ''"><sup><i>n</i></sup></span>
                <span *ngIf="gNValue != ''"><sup>{{gNValue}}</sup></span>)<sup><span *ngIf="pValue == ''"><i>p</i></span><span *ngIf="pValue != ''">{{pValue}}</span></sup>
                → f'(x) = <span *ngIf="pValue == ''"><i>p</i></span><span *ngIf="pValue != ''">{{pValue}}</span>(<span *ngIf="gMValue == ''"><i>m</i></span>
                <span *ngIf="gMValue != ''">{{gMValue}}</span>x<span *ngIf="gNValue == ''"><sup><i>n</i></sup></span>
                <span *ngIf="gNValue != ''"><sup>{{gNValue}}</sup></span>)<sup><span *ngIf="pValue == ''"><i>p</i>-1</span><span *ngIf="pValue != ''">{{pValue}}-1</span></sup> * (<span *ngIf="gNValue == ''"><i>n</i></span>
                <span *ngIf="gNValue != ''">{{gNValue}}<span *ngIf="gMValue != ''"> * </span></span>
                <span *ngIf="gMValue == ''"><i>m</i></span><span *ngIf="gMValue != ''">{{gMValue}}</span>x<span *ngIf="gNValue == ''"><sup><i>n</i>-1</sup></span>
                <span *ngIf="gNValue != ''"><sup>{{gNValue}}-1</sup></span>)
            </span>
        </h2>

        <form id="chainForm" [formGroup]="chainForm">
            <div style="display: flex; justify-content: center; flex-wrap: wrap;">
                    <div style="padding: 10px; text-align: right;">
                            <label>p: </label>
                            <input type="number" id="p" name="p" formControlName="p" (input)="change('pChain', $event)">
                            <br>
                            <br>
                        <label>g(x): </label>
                        <select #selectionG id="selectionG" name="selectionG" (change)="updateProductRule('g', selectionG.value)" style="width: 108px;">
                            <option value="binomial">Binomial</option>
                            <option value="constant">Constant</option>
                            <option value="constantMultiple">Constant Multiple</option>
                            <option value="power">Power</option>
                        </select>
                        <br>
                        <ng-container *ngIf="selectionG.value == 'binomial'">
                            <label>a: </label>
                            <input type="number" id="gA" name="gA" formControlName="gA" (input)="change('gAChain', $event)">
                            <ng-container *ngIf="this.gBinomialAPower">
                                <br>
                                <label>n: </label>
                                <input type="number" id="gNA" name="gNA" formControlName="gNA" (input)="change('gNAChain', $event)">
                            </ng-container>
                            <br>
                            <label>Does it contain x? </label>
                            <input type="checkbox" id="gAXBox" name="gAXBox" formControlName="gAXBox" (input)="setX('g', 'a', $event)">
                            <ng-container *ngIf="this.gBinomialAX == true">
                                <br>
                                <label>Does x have a power? </label>
                                <input type="checkbox" id="gAPowerBox" name="gAPowerBox" formControlName="gAPowerBox" (input)="setPower('g', 'a', $event)">
                            </ng-container>
                            <br>
                            <select #gOperator id="gOperator" name="gOperator" (change)="updateProductOperator('g', gOperator.value)" style="margin-top:10px; margin-bottom:10px; width:35px; height:20px">
                                <option value="+">+</option>
                                <option value="-">-</option>
                            </select>
                            <br>
                            <label>b: </label>
                            <input type="number" id="gB" name="gB" formControlName="gB" (input)="change('gBChain', $event)">
                            <ng-container *ngIf="this.gBinomialBPower">
                                <br>
                                <label>n: </label>
                                <input type="number" id="gNB" name="gNB" formControlName="gNB" (input)="change('gNBChain', $event)">
                            </ng-container>
                            <br>
                            <label>Does it contain x? </label>
                            <input type="checkbox" id="gBXBox" name="gBXBox" formControlName="gBXBox" (input)="setX('g', 'b', $event)">
                            <ng-container *ngIf="this.gBinomialBX == true">
                                <br>
                                <label>Does x have a power? </label>
                                <input type="checkbox" id="gBPowerBox" name="gBPowerBox" formControlName="gBPowerBox" (input)="setPower('g', 'b', $event)">
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="selectionG.value == 'constant'">
                            <label>c: </label>
                            <input type="number" id="gC" name="gC" formControlName="gC" (input)="change('gCChain', $event)">
                        </ng-container> 
                        <ng-container *ngIf="selectionG.value == 'constantMultiple'">
                            <label>c: </label>
                            <input type="number" id="gC" name="gC" formControlName="gC" (input)="change('gCChain', $event)">
                            <br>
                            <label>n: </label>
                            <input type="number" id="gN" name="gN" formControlName="gN" (input)="change('gNChain', $event)">
                            <br>
                            <label>m: </label>            
                            <input type="number" id="gM" name="gM" formControlName="gM" placeholder="1" (input)="change('gMChain', $event)">        
                        </ng-container> 
                        <ng-container *ngIf="selectionG.value == 'power'">
                            <label>n: </label>
                            <input type="number" id="gN" name="gN" formControlName="gN" (input)="change('gNChain', $event)">
                            <br>
                            <label>m: </label>            
                            <input type="number" id="gM" name="gM" formControlName="gM" placeholder="1" (input)="change('gMChain', $event)">            
                        </ng-container>
                    </div>
            </div>
            </form>
    </ng-container>
    
    <ng-container *ngIf="currRule != 'sum' || (currRule == 'sum' && this.inputs.length > 0)">
        <button style='margin-top: 15px;' (click)="calculate()">Calculate</button>
    </ng-container>

    <ng-container *ngIf="showCalculation&& currRule != 'quotient'">
        <div class="answer-div">
            <h2><span [innerHTML]="calculation"></span></h2>
        </div>
    </ng-container>

    <ng-container *ngIf="showCalculation && currRule == 'quotient'">
        <div class="answer-div">
            <h2 style="display: flex; justify-content: center; flex-wrap: wrap;">
                <span>f'(x) =&nbsp;</span>
                <div>
                    <span [innerHTML]="calculation" class="top"></span>
                    <br>
                    <span [innerHTML]="calculationDenominator" class="bottom"></span>
                </div>
            </h2>
        </div>
    </ng-container>
</div>
