<div style="text-align: center;">
<form id="setUpForm" [formGroup]="setUpForm">
    <label>How many numbers are there? </label>
    <input type="number" id="numberOfInputs" name="numberOfInputs" formControlName="numberOfInputs">
    <input type="button" id="generateButton" name="generateButton" value="Generate Inputs" (click)="calculateInputs()">
</form>
<form id="inputForm" [formGroup]="inputForm">
<ng-container *ngFor="let number of inputs">
<input type="number" id="{{number}}" name="{{number}}" class="input" formControlName="{{number}}">
</ng-container>
<ng-container *ngIf="inputs.length > 0">
<button style='margin-left:10px;' (click)="clear()">Clear</button>
</ng-container>
</form>
<br>
<ng-container *ngIf="inputs.length > 0">
<input type="button" id="calcButton" name="calcButton" value="Calculate {{this.setUpService.currentCalc}}" (click)="calculate(this.setUpService.currentCalc)">
</ng-container>
<br>
<ng-container *ngIf="showCalculation">
    <div class="answer-div">
        <h2>{{calculation}}</h2>
    </div>
</ng-container>
</div>